@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/functions' as *;
@use '../base/fonts' as *;

*[class$="-container"] {
  padding-top: spacing(6);
}

h1, h2, h3, h4, h5 {
  &.title {
    @include libertinus(400);
    color: $heading-color;
    border-bottom: 1px solid $border-color-base;
    display: flow-root;
  }
}

h1.title {
  font-size: 2.2em;
  padding-bottom: .25em;
  vertical-align: bottom;
}
h3.title {
  font-size: 1.5em;
  padding-bottom: .25em;
  margin-bottom: 1em;
  vertical-align: bottom;
}

.keyline {
  width: spacing(12);
  margin: 8px 0 10px;
  border-top: 2px solid $theme-color;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  @include clearfix();
}

.profile-pic {
  margin-top: -5px;
  margin-right: 18px;

  img {
    height: $profile-pic-size;
    width: $profile-pic-size;
    border-radius: 50%;
    border: 2px solid $primary-color;
  }
}

.summary {
  margin: spacing(2) 0 spacing(1);
}

p {
  &.summary {
    margin: spacing(1) 0 0;
  }
}
