@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/functions' as *;
@use '../base/fonts' as *;

blockquote {
  font-size: 1em;
}

#resume.container{
  margin-bottom: 15px;
  background: #fff;
  border-radius: $eb-border-radius;
}

#resume {
  display: flex;
  justify-content: center;
  .resume-content {
    padding: 20px 30px 60px;
    max-width: 1440px;
    display: flex;
    gap: 50px;
    @media (max-width: #{$tablet-width}) {
      flex-direction: column-reverse;
    }
  }
}

.logo {
  max-width: 100%;
  margin-bottom: 30px;
}

#contents {
  position: sticky;
  top: 20px;
  .title {
    font-weight: bold;
    display: flow-root;
    border-bottom: 1px solid #EAECF0;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.9em;
  }
  > ul {
    padding-left: 0;
    position: relative;
    left: -9px;
  }
  ul {
    margin: 0;
    list-style-type: none;
    li {
      line-height: 1.6em;
      a {
        &.top {
          color: $text-color;
          font-weight: bold;
        }
      }
    }
    & > ul {
      padding-left: 1em;
    }
  }
}

.page {
  background: white;
  width: $page-width;
  min-height: $page-height;
  display: block;
  margin: 0 auto;
  border-top: 10px solid $primary-color;
  padding: 36px 22px 30px 34px;
  @include shadow();
  @include clearfix();
}

.left-column {
  word-wrap: break-word;
  max-width: 220px;
}

.right-column {
  overflow: hidden;
}

.infobox-container {
  float: right;
  width: 300px;
  padding-top: 0;
  margin: 0 0 25px 25px;
  .infobox {
    background-color: #f8f9fa;
    border: 1px solid #A2A9B1;
  }
  .header {
    font-family: $primary-font;
    padding: 0.5em 0.5em 0 0.5em;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    padding: 0.5em;
    img {
      max-width: 100%;
    }
    .caption {
      text-align: center;
      font-size: 0.8em;
    }
  }

  .about-container {
    padding-top: 1.2em;
    .about-table {
      border-spacing: 10px 0;
      border-collapse: separate;
      margin: 0 -10px;
      font-size: 0.8em;
      tr {
        height: spacing(2);
        td {
          &:first-child {
            font-weight: bold;
            vertical-align: top;
          }
          .item {
            margin-bottom: 0.5em;
          }
          .profiles {
            line-height: 1em;
            .info-tag {
              td {
                padding-bottom: 0.5em;
              }
              .info-text {
                a {
                  i {
                    font-size: 0.8em;
                    vertical-align: middle;
                    padding-bottom: 0.2em;
                  }
                }
              }
            }
            i.fab {
              width: 18px;
              font-size: 1.25em;
            }
          }
        }
        &:not(:last-of-type){
          td {
            padding-bottom: 1em;
          }
        }
      }
    }
  }

}

.section-header {
  display: flex;
  justify-content: space-between;
}

section.item {
  margin-bottom: spacing(3);

  &:last-child {
    margin-bottom: 0;
  }
}

.summary-container {
  padding-top: 0;
  em {
    color: $text-color;
  }
  .summary {
    p:last-of-type{
      padding-bottom: 0;
    }
  }
}

.work-container {
  margin-top: -10px;
  .position {
    .company {
      padding-left: 0.25em;
      font-weight: normal;
    }
  }


  .item.continuation {
    margin-top: spacing(-4.5);
  }
  .summary {
    margin-bottom: spacing(8);
  }
  .item:last-of-type {
    .summary {
      margin-bottom: spacing(4);
    }
  }
}

.portfolio-container {
  .category {
    h3 {
      padding-bottom: 1em;
    }
    &:not(:first-of-type){
      h3 {
        padding-top: 1.5em;
      }
    }
  }
  .item {
    .description p {
      margin-top: 0.25em;
    }
    &:not(:last-of-type){
      .description p {
        margin-bottom: 1.5em;
      }
    }
    a {
      i {
        font-size: 0.7em;
        vertical-align: middle;
        padding-bottom: 0.3em;
      }
    }
  }
}

.distinctions-container {
  h3.category {
    //padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .award {
    @include font-size(2.75);
    .awarder {
      font-weight: bold;
    }
    em {
      font-style: italic;
      color: $text-color;
    }
    sub {
      font-size: 0.85em;
      font-variant: small-caps;
      position: relative;
      bottom: 0.2em;
    }
  }
}