@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/functions' as *;
@use '../base/fonts' as *;

blockquote {
  font-size: 1em;
}

#resume.container{
  margin-bottom: 15px;
  background: #fff;
  border-radius: $eb-border-radius;
}

#resume {
  .resume-content {
    padding: 20px 30px 60px;
    display: flex;
    gap: 50px;
    @media (max-width: #{$tablet-width}) {
      flex-direction: column-reverse;
    }
  }
}

.logo {
  max-width: 100%;
}

#contents {
  position: sticky;
  top: 20px;
  a {
    display: block;
  }
}

.page {
  background: white;
  width: $page-width;
  min-height: $page-height;
  display: block;
  margin: 0 auto;
  border-top: 10px solid $primary-color;
  padding: 36px 22px 30px 34px;
  @include shadow();
  @include clearfix();
}

.left-column {
  word-wrap: break-word;
  max-width: 235px;
}

.right-column {
  overflow: hidden;
}

.infobox {
  float: right;
  width: 300px;
  border: 1px solid #555;
  margin: 25px 0 25px 25px;
  .header {
    background-color: $theme-color;
    height: 56px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    padding: 5px;
    img {
      max-width: 100%;
    }
  }
  .about-table {
    border-spacing: 10px 4px;
    border-collapse: separate;
    font-size: 14px;
    tr {
      height: spacing(2);
      &:not(:last-of-type){
        td {
          padding-bottom: 1em;
        }
      }
    }
  }
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.item {
  margin-bottom: spacing(3);

  &:last-child {
    margin-bottom: 0;
  }
}

.work-container {
  .item.continuation {
    margin-top: spacing(-4.5);
  }
  .summary {
    margin-bottom: spacing(8);
  }
  .item:last-of-type {
    .summary {
      margin-bottom: spacing(4);
    }
  }
}
